@{
    ViewData["Title"] = "Popid";
}
@{
    var results = ViewBag.contents;
}

<br><br><br>


<table class="table table-striped">
	  <tr>
	    <th>Score</th>
	    <th>Url</th> 
	  </tr>
	@foreach(var item in results)
	{
	  <tr>
	    <td>@item.Score</td>
	    <td>@item.Url</td> 
	  </tr>
	}
</table>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
